.container .container__board.board {
  position: static;
  background-color: white;
  width: 90%;
  height: 80%;
  padding: 50px;
  margin-top: 4rem;
  box-shadow: 1px 0 5px #03045e;
  max-height: 700px;
  border-radius: 10px;
  min-height: 500px;
}

.container .container__board.board .board__body.body {
  margin-top: 2rem;
  /* position: static; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12% auto;
  row-gap: 1rem;
}

.body .body__cards.cards {
  height: 500px;
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
}

.cards__card.card {
  border: solid 1px #03045e;
  max-width: 300px;
  width: 300px;
  max-height: 120px;
  height: 120px;
  margin: 20px 10px;
}

.card__header {
  height: 20px;
  background-color: #03045e;
}

.card__body {
  padding: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}



.body__name {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: x-large;
  word-wrap: break-word;
}

 .body__options {
  display: grid;
  row-gap: 5px;
}

.body__options .options__button {
  border: none;
  background-color: #0077b6;
  color: white;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {

    .card__body{
        grid-template-columns: 100%;
    }

    .cards__card.card {
        width: 230px;
    }
    
}

@media screen and (max-width: 1100px) {

    .cards__card.card {
        width: 180px;
    }
    
}

@media screen and (max-width: 800px) {

    .cards__card.card {
        width: 120px;
    }
    
}

@media screen and (max-width: 600px) {

    .cards__card.card {
        width: 70px;
    }
    
}

.board__body.body .body__head.head {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  height: fit-content;
  width: 100%;
}

.board__body.body .body__head.head .head__header.header {
  margin: 0 10px;
}

.head__header.header .header__p {
  font-size: larger;
  text-align: center;
}

.board__header.header .header__selector.selector .selector__label{
  font-size: x-large;
}

.board__header.header .header__selector.selector .selector__select{
  font-size: larger;
  border: none;
  border-radius: 10px;
  background-color: #0077b6;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.content .content__cards.cards{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  height: 600px;
  overflow: auto;
  border: 2px solid #0077b6;
}

.manager {
  display: grid;
  grid-template-rows: 20% auto;
  
}

.manager .manager__header.header {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.manager .manager__header.header .header__input--search {
  padding: 10px;
  grid-column: 1/3;
  font-size: larger;
}

.manager .manager__header.header .header__label {
  padding: 5px;
  font-size: larger;
  grid-column: 9;
  justify-self: end;
}

.manager .manager__header.header .header__icon {
  padding: 5px;
  grid-column: 10;
  font-size: xx-large;
}

.manager .manager__body {
  display: grid;
  height: 600px;
  overflow: scroll;
  border-top: 4px #03045e solid;
  border-bottom: 4px #03045e solid;
}

.manager .manager__body .record {
  display: grid;
  grid-template-columns: 15% auto repeat(2, 15%);
  align-items: center;
  border-bottom: 1px #0077b6 solid;
}


.record .record__icon {
  display: grid;
  justify-self: end;
  margin-right: 10px;
  font-size: x-large;
  cursor: pointer;
}

.record .record__p {
  font-size: larger;
}