.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #CAF0F8;
    box-shadow: 8px 0 10px black;
}

.navbar .navbar__content.content{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    align-items: center;
    padding: 10px;
}

.navbar .navbar__content.content .icon{
    font-size: 32px;
    cursor: pointer;
    color: #03045E;
}

.navbar .navbar__content.content .content__profile{
    grid-column: 10;
    justify-self: center;
}

.navbar .navbar__content.content .content__sidebar{
    margin-left: 10px;
}

.asda{
    grid-column: 4;
}